body {
	font-family: arial, sans-serif;
	padding: 30px;
}

 form {
      width: 200px;
      background: #f9f9f9;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 5px ;
  }

  label {

  	display: block;
  	margin-top: 10px;
  }

 button {
 width: 50%;
 padding: 3px;
 background-color: mediumblue;
 border: none;
 align-items:center;
 border-radius: 5px;
 cursor: pointer;
 margin-top: 15px;
 color: white;
}

button:hover {
	background-color: #0056b3;
}


.error {
     color: red;
}