
body {
  font-family:"Open Sans", sans-serif; 
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}


.name {
	font-size: 30px;
	color: blue;
	text-align: center;
}

.image {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 25px;
flex-wrap: wrap;
}

.image img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #00b4db;
  margin: 0 auto;
  /*transition: transform 0.10s ease;*/
}

.image img:hover {
  transform: scale(1.1);


}

.about {
      background-color: #F9F8F6;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 10px;
      margin-bottom: 10px;
    }
    .footer {
      background-color: #000;
      height: 100px;
      color: #fff;
      padding: 20px;
    }

    .icons  {
      display: flex;
      gap: 10px;
    }

.icons i {
  display: flex;
    align-items: center;
    border-radius: 50%;
    align-items: center;
}


.fa-brands, .fa-solid {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  color: white;
  height:40px;
  width: 40px;
  border-radius: 50%;
  font-size: 20px;
  transition: all 0.3s ease;
}

.fa-brands:hover {
  color: red;
}
.fa-solid:hover {
  color: blue ;
}


.footer {
	background-color: black ;
	color: white;
	white:100%;
	/*display: flex;*/
	height:100px;
