form{
	padding: 20px;
	width: 50%;
	margin: auto;
	text-align: center;
border-width: 1px;
border-color: #000;
border-radius: 10px;
border-style: solid;


}

h3 {
color: #000;
padding-top:10px ;
text-align: center;
font-size: 40px;

}
.contact-form-input {
	display: flex;
	flex-direction: column;
	align-items: center; 
	gap: 10px;
}

input{
	background-color: whitesmoke;
	width: 20%;
	font-size: 20px;
	padding:2px 2px ;
    border-radius: 5px;
    border-color: black;
    margin-bottom: 20px;


}
 
label{
	font-size: 20px;
margin-left: -70px;
color: #000;
}




  .btn{
  	 background-color: lightblue;
  	border-radius: 20%; 
  	font-size: 18px;
  	text-align: center;
  	cursor: pointer;
  	width: 100px;
  	height: 30px;
  	border: none;

  }

  
  